{% extends 'base.html'%}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<div class="container" style="font-family: 'Dancing Script', cursive;color:white;background-color:black;opacity:0.8"> 
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{writer.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if writer.bio %}
      <p> <strong>BIO:</strong>{{writer.bio}}</p>
    {%else%}
      <p> {{writer.username| capitalize}} has no bio </p>
    {% endif %}
 

  <!--Display profile photo-->
  
    {% if writer.profile_pic_path %}
    <img src="{{url_for('static',filename=writer.profile_pic_path)}}" alt="" class="img-thumbnail">
    {%else%}
    <p>No profile picture</p>
    {% endif %}
  </div>
  {% if writer == current_user %}
    <h4><a href="{{url_for('main.update_profile',uname=writer.username)}}">Edit profile</a></h4>
{% endif %}
<div class="col-md-4">
    {% if writer.profile_pic_path %}

    {%else%}
    <p>No profile picture</p>

    {% endif %}

        {% if writer == current_user %}
    <form  action="{{url_for('main.update_pic',uname=writer.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <br>
      <input style="background-color:black" type="submit"><br><br>
      <p ><strong style="text-decoration:'underline'">{{current_user.username|upper}} POSTS AND COMMENTS:</strong></p>
    </form>
        <hr>
       
        <div style="border:1px solid black;height: 10%">
        
        {% for b in blog%}
        <h3><strong>blog title:</strong>{{b.title}}</h3>
        <h3><strong>blog content:</strong>{{b.content}}</h3>
        <h3><strong>Author's name:</strong>{{b.author}}</h3>
        
        {%for com in b.comment %}
            <p>comment:{{com.feedback}}</p>
            {% endfor %}
            <a href="{{url_for('main.new_comment',id=b.id)}}" ><button type="button" style="color:black"  class="btn btn-dark">ADD COMMENT</button></a>
            <a  href="{{url_for('main.delete_post',id=b.id)}}" ><button type="button" style="color:black" class="btn btn-dark">DELETE</button></a>
            <a  href="{{url_for('main.update_blog',id=b.id)}}" ><button type="button" style="color:black" class="btn btn-dark">UPDATE</button></a>

        {% endfor %}
        </div>
                   
          
            
                    
      {% endif %}
      
            
</div>
</div>
</div>

{% endblock %}
