{% extends 'base.html'%}

{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{writer.username| capitalize}} </h3>

    <!--Displaying user bio-->
    {% if writer.bio %}
      <p> <strong>BIO:</strong>{{writer.bio}}</p>
    {%else%}
      <p> {{writer.username| capitalize}} has no bio </p>
    {% endif %}
 

  <!--Display profile photo-->
  
    {% if writer.profile_pic_path %}
    <img src="{{url_for('static',filename=writer.profile_pic_path)}}" alt="" class="img-thumbnail">
    {%else%}
    <p>No profile picture</p>
    {% endif %}
  </div>
  {% if writer == current_user %}
    <a href="{{url_for('main.update_profile',uname=writer.username)}}">Edit profile</a>
{% endif %}
<div class="col-md-4">
    {% if writer.profile_pic_path %}

    

    {%else%}
    <p>No profile picture</p>

    {% endif %}

        {% if writer == current_user %}
    <form  action="{{url_for('main.update_pic',uname=writer.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <input type="submit">

    </form>
        <hr>
        <div style="border:1px solid black;height: 10%">
        <p ><strong style="text-decoration:'underline'">{{current_user.username|upper}} POSTS AND COMMENTS:</strong></p>
        {% for b in blog%}
        <p><strong>blog title:</strong>{{b.title}}</p>
        <p><strong>blog content:</strong>{{b.content}}</p>
        <p><strong>Author's name:</strong>{{b.author}}</p>
        
        {%for com in b.comment %}
            <p>comment:{{com.feedback}}</p>
            {% endfor %}
            <a href="{{url_for('main.new_comment',id=b.id)}}" ><button type="button"  class="btn btn-dark">ADD COMMENT</button></a>
            <a  href="{{url_for('main.delete_post',id=b.id)}}" ><button type="button"  class="btn btn-dark">DELETE</button></a>
            <a  href="{{url_for('main.update_blog',id=b.id)}}" ><button type="button"  class="btn btn-dark">UPDATE</button></a>

        {% endfor %}
        </div>
                   
          
            
                    
      {% endif %}
      
            
</div>
</div>
</div>

{% endblock %}
